/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-label {
  margin-left: auto;
}

.BasketTool-main {
  color: #0087e9;
  border-bottom: 2px solid #0087e9;
}

.BasketTool-main:hover {
  cursor: pointer;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
